<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">

<table style="width: 100%; max-width: 600px; margin: 0 auto; border-collapse: collapse;">
    <tr>
        <td style="background-color: black; padding: 20px; text-align: center;">
            <img src="cid:logo-controle-certo" alt="Logo da Controle Certo" style="max-width: 100%;">
            <h2 style="color: #FFF; margin-top: 10px; border-top: 2px solid #FFF; padding-top: 10px;">Recuperação de Senha</h2>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; background-color: #FFF;">
            <p style="color: #333;">Caro <strong>[NOME_CLIENTE]</strong>,</p>
            <p style="color: #333;">Esperamos que esta mensagem o encontre bem. Recebemos uma solicitação de recuperação de senha associada à sua conta. Para garantir a segurança da sua informação, fornecemos as instruções necessárias abaixo para redefinir sua senha.</p>
            <strong style="color: #333;">Instruções para Recuperação de Senha:</strong>
            <ol>
                <li><a href="[LINK_RECUPERACAO]" style="color: #333; text-decoration: underline;">Acesse Link de Recuperação de Senha</a>.</li>
                <li style="color: #333;">Insira o código de recuperação: <strong>[TOKEN]</strong></li>
                <li style="color: #333;">Siga as instruções na página para criar uma nova senha.</li>
            </ol>
            <p style="color: #333;">Se você não solicitou esta recuperação ou acredita que tenha recebido esta mensagem por engano, por favor, entre em contato conosco imediatamente respondendo a este e-mail.</p>
            <p style="color: #333;">Agradecemos por sua compreensão e cooperação.</p>
        </td>
    </tr>
    <tr>
        <td style="background-color: black; padding: 20px; text-align: center; color: #FFF;">
            <p><strong>Atenciosamente,</strong></p>
            <p><br>Equipe de suporte<br>Controle Certo</p>
        </td>
    </tr>
</table>

</body>
</html>
